[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
pytz = "*"
python-dateutil = "*"
ghp-import = "*"
beautifulsoup4 = "*"
Markdown = "*"
Unidecode = "*"
Pygments = "*"
MarkupSafe = "*"
Jinja2 = "*"
pelican-series = "*"

[dev-packages]

[requires]
python_version = "3.9"
